{% extends "layout.html" %}
{% block content %}
<div class="col-md-12 topbar content" >
    <center><h2 style=" color: white;">About WorkSpace</h2></center>
	<p> 
		WorkSpace is a
		<a href="https://intranet.alxswe.com" target="_blank" style=" text-decoration: none; color: purple;"> Portfolio Project for Holberton School </a>that deals with
		the difficulty of getting an Office space for short-term needs like in one, two, three or six months to work with your team is always an issue This scenario is common for startups, remote teams, and professionals who need temporary workspace when relocating or during specific projects.<br> The challenges they encounter are:<br>
				<b>Availability and Location:</b> Finding vacant office space that matches your requirements in terms of size, amenities, and location can be challenging, especially in popular business districts.<br>
				<b>Cost and Budget:</b> Traditional office leases typically require longer commitments and might not be cost-effective for short-term needs.<br>
				<b>Infrastructure and Setup:</b> Setting up the necessary infrastructure (internet, utilities, furniture, etc.) for a short-term office can be time-consuming and costly.
				Booking and Availability: Depending on demand, short-term spaces might not always be available when you need them.<br>
	</p>
	<center><h2 style=" color: white;">What We Offer</h2></center>
	<p>
		It is a website where startups, remote teams, and professionals who need temporary workspace at any location when relocating or during specific projects will have Office Space for rent that matches their requirements in terms of size, amenities, and location, where necessary infrastructure (internet, utilities, furniture, etc.) will be made available and cost-effective, and Booking will be Available at all times. It is a site where anybody can post Office space from any location all over the world, not just certain places or countries.
	</p>
</div>
{% endblock content %}
