<!--
  The host page that loads all space posted from the database.
-->
{% extends "layout.html" %}
{% block content %}
<div class="col-md-12" >
    <div class="bannar">
  <div class="top">
    <center>
      <h1 style="color: white;">Welcome to WorkSpace</h1>
      <h3 style="color: white;">Where Working AnyWhere is Possible</h3>
      <a href="{{ url_for('main.about') }}" target="_blank"class="btn btn-primary me-md-2">More Details</a>
    </center>
  </div>
</div>
</div>

  <div class="col-md-12" style=" color: white; text-align: center; font-weight: bolder;">
    <h2 style=" color: white; font-weight: bolder;">LOOKING FOR YOUR NEXT WORKSPACE?</h2>

<p>We make moving in quick and easy. Enquire today and you could be in your new space within a month.</p>
  </div>
  <div class="col-5 search" style="">
    <form method="GET" action="/post/search">
    <label for="country">Search by Location:</label>
    <select id="country" name="country">
        <option value="Nigeria">Nigeria</option>
        <option value="Argentina">Argentina</option>
        <option value="Algeria">Algeria</option>
        <option value="Benin">Benin</option>
        <option value="Brazil">Brazil</option>
        <option value="Cuba">Cuba</option>
        <option value="United States">United States</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="Togo">Togo</option>
        <option value="South Africa">South Africa</option>
        <option value="Portugal">Portugal</option>
        <!-- Add more country options here -->
    </select>
    <input type="submit" value="Search">
</form>
</div>
<div style=" clear: both;"></div>
<div class="row">
    {% for post in posts.items %}
    <div class="col-4">
        <article class="media content-section" >
          
          <div class="media-body">
            
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <img class="space-img" src="{{ url_for('static', filename='space_image/' + post.image) }}">
            <p class="article-content">${{ post.price }}</p>
            <p class="article-content">{{ post.location }}</p>
            <p class="article-content">{{ post.country }}</p>
            <p class="article-content">{{ post.description }}</p>
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
          
        </article>
      </div>
    {% endfor %}
    </div>
    <div style=" clear: both;"></div>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
